<div id="about" class="container">
    <div class="divider text-center"></div>
    <h1 class="text-center fw-light mb-5">about <span class="text-danger fw-bold">me</span></h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <p>More than 20 years <span class="fw-bold">working</span>, <span class="fw-bold">learning</span> and <span
                    class="fw-bold">sharing experiences</span> and design for interfaces, interactivity, information
                architecture, web and mobile prototyping, without forgetting to continue practicing my skills as a
                front-end developer with HTML / CSS, JavaScript, PHP and AngularJS.</p>
        </div>
        <div class="col">
            <p>Currently working as UX/UI Designer at <span class="fw-bold text-info">IBM</span> in Sao Paulo, I'm
                driven by the search for the best functional and intuitive experiences, balancing the best results for
                the business through user-centered design decisions.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="fw-bold mt-5 mb-5">Work Experience</h3>
        </div>
    </div>
    <div class="row mb-4 row-cols-1 row-cols-md-2 g-4"> 
        <div class="col">
            <h5 class="fw-bold">IBM</h5>
            <p class="mb-0">UX/UI Designer & Application Developer</p>
            <p class="fw-light fst-italic mb-0">August 2017 – Present Day in Sao Paulo Area, Brazil</p>
            <p class="mb-5">__</p>
            
            <h5 class="fw-bold">UOL EDTECH</h5>
            <p class="mb-0">UX/UI Designer</p>
            <p class="fw-light fst-italic mb-0">February 2015 – August 2016 in Sao Paulo Area, Brazil</p>
            <p class="mb-5">__</p>
            
            <h5 class="fw-bold">ROCKOUT</h5>
            <p class="mb-0">Owner / Creative Director</p>
            <p class="fw-light fst-italic mb-0">March 2012 – December 2014, Anywhere</p>
            <p class="mb-4">__</p>
        </div>
        <div class="col">
            <h5 class="fw-bold">THE AUBERGINE PANDA</h5>
            <p class="mb-0">Art Director</p>
            <p class="fw-light fst-italic mb-0">November 2011 – June 2012 in Sao Paulo Area, Brazil</p>
            <p class="mb-5">__</p>
            
            <h5 class="fw-bold">NAVITA</h5>
            <p class="mb-0">UI Designer & Information Architect</p>
            <p class="fw-light fst-italic mb-0">Octorber 2007 – October 2011 in Sao Paulo Area, Brazil</p>
            <p class="mb-5">__</p>
        
            <h5 class="fw-bold">Previous Experiences</h5>
            <p class="mb-0">Art Director <span class="fw-bold">@ LEADER SPIN</span></p>
            <p class="mb-0">UX/UI Designer <span class="fw-bold">@ AllnBlue</span></p>
            <p class="mb-0">Digital Designer <span class="fw-bold">@ CIATECH</span></p>            
        </div>        
    </div>

    <div class="row">
        <div class="col">
            <h3 class="fw-bold mt-5 mb-5">Education</h3>
        </div>
    </div>
    <div class="row mb-4 row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <h5 class="fw-bold">ANHEMBI MORUMBI</h5>
            <p class="mb-0">Graduating in Systems Analysis and Development</p>
            <p class="fw-light fst-italic mb-0">Conclusion in December 2021</p>
            <p class="mb-4">__</p>
        </div>
        <div class="col">
            <h5 class="fw-bold">ANHEMBI MORUMBI</h5>
            <p class="mb-0">Technologist degree in Information Technology and e-Commerce </p>
            <p class="fw-light fst-italic mb-0">Finished in June 2006</p>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <h3 class="fw-bold mt-5 mb-4">Skills & Abilities</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-content-start flex-wrap">
            <p class="badge bg-primary mr-2">Design Thinking</p>
            <p class="badge bg-primary mr-2">UX Research</p>
            <p class="badge bg-primary mr-2">User Interface</p>
            <p class="badge bg-primary mr-2">User-centered Design</p>
            <p class="badge bg-primary mr-2">Interaction Design</p>
            <p class="badge bg-primary mr-2">Mobile Design</p>
            <p class="badge bg-primary mr-2">Information Architecture</p>
            <p class="badge bg-primary mr-2">Wire Framing</p>
            <p class="badge bg-primary mr-2">Usability</p>
            <p class="badge bg-primary mr-2">Usability Test</p>
            <p class="badge bg-primary mr-2">User Interface</p>
            <p class="badge bg-primary mr-2">Typescript</p>
            <p class="badge bg-primary mr-2">JavaScript</p>
            <p class="badge bg-primary mr-2">WordPress</p>
            <p class="badge bg-primary mr-2">HTML5</p>
            <p class="badge bg-primary mr-2">CSS</p>
            <p class="badge bg-primary mr-2">Saas</p>
            <p class="badge bg-primary mr-2">Angular JS</p>
            <p class="badge bg-primary mr-2">Front-end</p>
            <p class="badge bg-primary mr-2">Agile</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
        <div class="col">
            <p>English – <span class="fw-bold">Full professional proficiency</span></p>
        </div>
        <div class="col">
            <p>Portuguese – <span class="fw-bold">Native</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="fw-bold mt-5 mb-4">Tools</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col d-flex align-content-start flex-wrap">
            <p class="badge bg-primary mr-2">Adobe XD</p>
            <p class="badge bg-primary mr-2">Axure</p>
            <p class="badge bg-primary mr-2">Illustrator</p>
            <p class="badge bg-primary mr-2">Sketch</p>
            <p class="badge bg-primary mr-2">After Effects</p>
            <p class="badge bg-primary mr-2">Figma</p>
            <p class="badge bg-primary mr-2">InVision Studio</p>
            <p class="badge bg-primary mr-2">Mural</p>
            <p class="badge bg-primary mr-2">Zeplin</p>
            <p class="badge bg-primary mr-2">Visual Studio Code</p>
            <p class="badge bg-primary mr-2">Photoshop</p>
            <p class="badge bg-primary mr-2">Premiere</p>
        </div>
    </div>
</div>