<div id="contact" class="container-xxl mt-5 mb-5">
    <h2 class="text-center fw-light pt-5 mb-5"><span class="logo icon-logo"></span></h2>
    <div class="row mb-4 row-cols-1 row-cols-md-2">
        <div class="col align-self-start mail-icon mb-4">
            <a class="button" href="mailto:ivanbogar@gmail.com">ivanbogar@gmail.com</a> &nbsp; &bull; &nbsp; <a class="button" href="#">Resume</a>
            <!-- <a class="button" href="mailto:ivanbogar@gmail.com"><span class="icon icon-envelope mr-3"></span>ivanbogar@gmail.com</a> -->
        </div>

        <div class="col align-self-end social-icons mb-4">
            <a class="button" href="https://www.linkedin.com/in/ivanbogar"><span class="icon-44 icon-linkedin"></span></a>
            <a class="button" href="https://www.dribbble/ivanbogar"><span class="icon-44 icon-dribbble"></span></a>
            <a class="button ml-2" href="https://www.behance.net/ivanbogar"><span class="icon-44 icon-behance"></span></a>
            <a class="button ml-2" href="https://github.com/ivanbogar"><span class="icon-44 icon-github"></span></a>
            <a class="button ml-2" href="https://www.instagram.com/ivanbogar"><span class="icon-44 icon-instagram"></span></a>
            <a class="button ml-2" href="https://www.twitter.com/ivanbogar"><span class="icon-44 icon-twitter"></span></a>
            <!-- <app-theme-toggle></app-theme-toggle> -->

        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-12">
            <p class="text-center">© 2021 All rights reserved. Designed and Coded by Ivan Bogar</p>
        </div>
    </div>
</div>