<div class="container-xxl">
    <div class="divider text-center"></div>
    <h2 class="text-center fw-light mb-5">about <span class="text-danger fw-bold">me</span></h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <p>More than 20 years <span class="fw-bold">working</span>, <span class="fw-bold">learning</span> and <span
                    class="fw-bold">sharing experiences</span> and design for interfaces, interactivity, information
                architecture, web and mobile prototyping, without forgetting to continue practicing my skills as a
                front-end developer with HTML / CSS, JavaScript, PHP and AngularJS.</p>
        </div>
        <div class="col">
            <p>Currently working as UX/UI Designer at <span class="fw-bold text-info">IBM</span> in Sao Paulo, I'm
                driven by the search for the best functional and intuitive experiences, balancing the best results for
                the business through user-centered design decisions.</p>
        </div>
    </div>

    <div class="row mb-4 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"> 
        <div class="col col-md-6 col-lg-4">
            <h3 class="fw-bold mt-5 mb-5">Work Experience</h3>

            <h5 class="fw-bold">IBM</h5>
            <p class="mb-0">UX/UI Designer & Application Developer</p>
            <p class="fw-light fst-italic mb-0">August 2017 – Present Day in Sao Paulo Area, Brazil</p>
            <p class="mb-4">__</p>
            
            <h5 class="fw-bold">UOL EDTECH</h5>
            <p class="mb-0">UX/UI Designer</p>
            <p class="fw-light fst-italic mb-0">February 2015 – August 2016 in Sao Paulo Area, Brazil</p>
            <p class="mb-4">__</p>
            
            <h5 class="fw-bold">ROCKOUT</h5>
            <p class="mb-0">Owner / Creative Director</p>
            <p class="fw-light fst-italic mb-0">March 2012 – December 2014, Anywhere</p>
            <p class="mb-4">__</p>

            <h5 class="fw-bold">THE AUBERGINE PANDA</h5>
            <p class="mb-0">Art Director</p>
            <p class="fw-light fst-italic mb-0">November 2011 – June 2012 in Sao Paulo Area, Brazil</p>
            <p class="mb-4">__</p>
            
            <h5 class="fw-bold">NAVITA</h5>
            <p class="mb-0">UI Designer & Information Architect</p>
            <p class="fw-light fst-italic mb-0">Octorber 2007 – October 2011 in Sao Paulo Area, Brazil</p>
            <p class="mb-4">__</p>
        
            <h5 class="fw-bold">Previous Experiences</h5>
            <p class="mb-0">Art Director <span class="fw-bold">@ LEADER SPIN</span></p>
            <p class="mb-0">UX/UI Designer <span class="fw-bold">@ AllnBlue</span></p>
            <p class="mb-0">Digital Designer <span class="fw-bold">@ CIATECH</span></p> 
        </div>      

        <div class="col col-md-6 col-lg-4">
            <h3 class="fw-bold mt-5 mb-5">Education</h3>

            <h5 class="fw-bold">ANHEMBI MORUMBI</h5>
            <p class="mb-0">Graduating in Systems Analysis and Development</p>
            <p class="fw-light fst-italic mb-0">Conclusion in December 2021</p>
            <p class="mb-4">__</p>

            <h5 class="fw-bold">ANHEMBI MORUMBI</h5>
            <p class="mb-0">Technologist degree in Information Technology and e-Commerce </p>
            <p class="fw-light fst-italic mb-0">Finished in June 2006</p>

            <h3 class="fw-bold mt-5 mb-4">Skills & Abilities</h3>

            <p class="mb-2">English – <span class="fw-bold">Full professional proficiency</span></p>
            <p class="mb-4">Portuguese – <span class="fw-bold">Native</span></p>
            <p class="badge bg-primary mr-2 mb-2">Design Thinking</p>
            <p class="badge bg-primary mr-2 mb-2">UX Research</p>
            <p class="badge bg-primary mr-2 mb-2">User Interface</p>
            <p class="badge bg-primary mr-2 mb-2">User-centered Design</p>
            <p class="badge bg-primary mr-2 mb-2">Interaction Design</p>
            <p class="badge bg-primary mr-2 mb-2">Mobile Design</p>
            <p class="badge bg-primary mr-2 mb-2">Information Architecture</p>
            <p class="badge bg-primary mr-2 mb-2">Wire Framing</p>
            <p class="badge bg-primary mr-2 mb-2">Usability</p>
            <p class="badge bg-primary mr-2 mb-2">Usability Test</p>
            <p class="badge bg-primary mr-2 mb-2">User Interface</p>
            <p class="badge bg-primary mr-2 mb-2">Typescript</p>
            <p class="badge bg-primary mr-2 mb-2">JavaScript</p>
            <p class="badge bg-primary mr-2 mb-2">WordPress</p>
            <p class="badge bg-primary mr-2 mb-2">HTML5</p>
            <p class="badge bg-primary mr-2 mb-2">CSS</p>
            <p class="badge bg-primary mr-2 mb-2">Saas</p>
            <p class="badge bg-primary mr-2 mb-2">Angular JS</p>
            <p class="badge bg-primary mr-2 mb-2">Front-end</p>
            <p class="badge bg-primary mr-2 mb-2">Agile</p>

            <h3 class="fw-bold mt-5 mb-4">Tools</h3>

            <p class="badge bg-primary mr-2 mb-2">Adobe XD</p>
            <p class="badge bg-primary mr-2 mb-2">Axure</p>
            <p class="badge bg-primary mr-2 mb-2">Illustrator</p>
            <p class="badge bg-primary mr-2 mb-2">Sketch</p>
            <p class="badge bg-primary mr-2 mb-2">After Effects</p>
            <p class="badge bg-primary mr-2 mb-2">Figma</p>
            <p class="badge bg-primary mr-2 mb-2">InVision Studio</p>
            <p class="badge bg-primary mr-2 mb-2">Mural</p>
            <p class="badge bg-primary mr-2 mb-2">Zeplin</p>
            <p class="badge bg-primary mr-2 mb-2">Visual Studio Code</p>
            <p class="badge bg-primary mr-2 mb-2">Photoshop</p>
            <p class="badge bg-primary mr-2 mb-2">Premiere</p>

        </div>        
    
        <div class="col col-md-12 col-lg-4">
            <h3 class="fw-bold mt-5 mb-4">Certifications & Courses</h3>

            <h5 class="fw-bold">INTERACTION DESIGN FOUNDATION</h5>
            <p class="mb-0">Gamification - Creating Addictive User Experiences</p>
            <p class="fw-light fst-italic mb-0">Issued February 2021</p>
            <p class="mb-4">__</p>

            <p class="mb-0">Information Visualization: Getting Dashboards Right</p>
            <p class="fw-light fst-italic mb-0">Issued January 2021 <a class="button ml-1" href="https://www.interaction-design.org/n-a-144/certificate/course/521f5c9a-8aea-4a45-ab7e-61c06803a880"><span class="icon-16 icon-link"></span></a></p>
            <p class="mb-4">__</p>

            <p class="mb-0">Dynamic User Experience: Design and Usability</p>
            <p class="fw-light fst-italic mb-0">Issued December 2020 <a class="button ml-1" href="https://www.interaction-design.org/n-a-144/certificate/course/0f06361f-2a27-4ce8-8e99-a62519e08812"><span class="icon-16 icon-link"></span></a></p>
            <p class="mb-4">__</p>

            <p class="mb-0">Human-Computer Interaction – HCI</p>
            <p class="fw-light fst-italic mb-0">Issued October 2020 <a class="button ml-1" href="https://www.interaction-design.org/n-a-144/certificate/course/c746f1f2-612d-485c-8516-925eeef7f62c"><span class="icon-16 icon-link"></span></a></p>
            <p class="mb-4">__</p>
           
            <p class="mb-0">UX Management: Strategy and Tactics</p>
            <p class="fw-light fst-italic mb-0">Issued March 2020 <a class="button ml-1" href="https://www.interaction-design.org/n-a-144/certificate/course/fltqnHSHvRqVCKMdW8"><span class="icon-16 icon-link"></span></a></p>
            <p class="mb-4">__</p>
            
            <p class="mb-0">Mobile User Experience (UX) Design</p>
            <p class="fw-light fst-italic mb-0">Issued Septermber 2020 <a class="button ml-1" href="https://www.interaction-design.org/n-a-144/certificate/course/fltqnHSHvF8bxCt78Q"><span class="icon-16 icon-link"></span></a></p>
            <p class="mb-4">__</p>
            
            <p class="mb-0">User Research - Methods and Best Practices</p>
            <p class="fw-light fst-italic mb-0">Issued January 2018 <a class="button ml-1" href="https://www.interaction-design.org/n-a-144/certificate/course/NM2pjm6hn"><span class="icon-16 icon-link"></span></a></p>
            <p class="mb-4">__</p>
        </div>
    </div>
</div>
<app-footer></app-footer>