/* Colors */
$black: #182028 !default;
$red: #D6042E !default;
$yellow: #ffc107 !default;
$white: #ffffff !default;

.card .card-body{
    
    h1 { letter-spacing: -0.031em; }
    h5, h6 { text-transform: uppercase; }
    h6 { letter-spacing: 0.125em; }
    
    
}

.card {
    border: none !important;
    background-color: transparent !important;
    height: 690px;
    background-position: 50% 50%;
    background-repeat: no-repeat !important;
    overflow: hidden;
    background-size: cover !important;
    border-radius: 0 !important;
    
    .card-body {
        padding: 1em 0;
        position: relative;
        top: 120px;
        margin-left: 44px;
        margin-top: -96px;
        display: block;
        width: 360px;
    }
}
.card.dow{
    background-image: url(../../../assets/images/jobs/capa-dow.jpg);
    //background-position: 50% 50%;
}
.card.closrly{
    background-image: url(../../../assets/images/jobs/capa-closrly.jpg);
}
.card.cepera{
    background-image: url(../../../assets/images/jobs/capa-cepera.jpg);
}
.card.dipiu{
    background-image: url(../../../assets/images/jobs/capa-dipiu.jpg);
}
.card.ibm{
    background-image: url(../../../assets/images/jobs/capa-ibmix.jpg);
}
.card.santander{
    background-image: url(../../../assets/images/jobs/capa-cepera.jpg);
}
.card.rockout{
    background-image: url(../../../assets/images/jobs/capa-rockout.jpg);
}

.card.light{
    
    .card-body{
        color: $white !important;
    
        .btn-primary{
            color: $white;
            border: 2px solid $white;
            background-color: transparent;
        }
        .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:hover{
            background-color: $white !important;
            color: $black;
        }
    }
}
.card.dark{
    
    .card-body{
        color: $black !important;
    }
    .btn-primary{
        color: $black;
        border: 2px solid $black;
        background-color: transparent;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:hover{
        background-color: $black !important;
        color: $white;
    }
}

@media screen and (max-width: 579px){
    .card {
        .card-body {
            padding: 1.5em 0;
            position: relative;
            top: 96px;
            margin-left: 24px;
            margin-top: -96px;
            width: 270px;
            }
    }
    .card.dow {
        height: 610px;
        background-position: 40% 50% !important;
    }
    .card.closrly {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.cepera {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.dipiu {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.ibm {
        height: 610px;
        background-position: 35% 50% !important;
    }
    .card.santander {
        height: 610px;
        background-position: 55% 50% !important;
    }
}
@media screen and (max-width: 479px){
    .card {
        .card-body {
            padding: 1.5em 0;
            position: relative;
            top: 96px;
            margin-left: 24px;
            margin-top: -96px;
            width: 270px;
            }
    }
    .card.dow {
        height: 610px;
        background-position: 40% 50% !important;
    }
    .card.closrly {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.cepera {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.dipiu {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.ibm {
        height: 610px;
        background-position: 35% 50% !important;
    }
    .card.santander {
        height: 610px;
        background-position: 55% 50% !important;
    }
}
@media screen and (max-width: 379px){
    .card {
        .card-body {
            padding: 1.5em 0;
            position: relative;
            top: 96px;
            margin-left: 24px;
            margin-top: -96px;
            width: 250px;
            }
    }
    .card.dow {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.closrly {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.cepera {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.dipiu {
        height: 610px;
        background-position: 30% 50% !important;
    }
    .card.ibm {
        height: 610px;
        background-position: 45% 50% !important;
    }
    .card.santander {
        height: 610px;
        background-position: 45% 50% !important;
    }
}


@import "../../../styles.scss";